[Unit]
Description=Strava E-Paper Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=jschoenau
WorkingDirectory=/home/jschoenau/strava-api-display
Environment=PYTHONPATH=/home/jschoenau/e-Paper/E-paper_Separate_Program/4inch_e-Paper_E/RaspberryPi_JetsonNano/python/lib
ExecStart=/home/jschoenau/strava-api-display/.venv/bin/python main.py
